.context-menu {
  position: absolute;

  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 10px 15px;
  background-color: cadetblue;
}
